body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}
h2 {
    color: #4CAF50; /* Hijau Matcha */
}
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"],
textarea,
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}